{
    "extends": [
          "standard-with-typescript",
          "plugin:@typescript-eslint/recommended",
          "plugin:prettier/recommended"
    ],
    "parserOptions": {
        "project": "tsconfig.json",
        "sourceType": "module"
    },
    "root": true,
    "env": {
      "node": true,
      "jest": true,
    },
    "ignorePatterns": [".eslintrc.js"],
    "rules": {
      "@typescript-eslint/strict-boolean-expressions": "off",
      "@typescript-eslint/no-explicit-any": ["off"]
    }
}